.Rproj.user
.Rhistory
.RData
.Ruserdata

old
cache
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.bbl
*-concordance.tex
inst/Lecture*/*.pdf
inst/Lecture*/Lecture*.tex
inst/Lecture*/figure
inst/Notes/Notes.tex
inst/Notes/Notes.pdf
inst/Notes/figure/
inst/Scores/Scores.tex
inst/Scores/Scores.pdf
inst/Scores/scores.tex
inst/Scores/scores.pdf
inst/Scores/figure/
